@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="pagetitle">
    <h1>Facts About Cat</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Cat</li>
        </ol>
    </nav>
</div>

@*<div class="card">
    <div class="card-body">
        <h5 class="card-title">Pokemon <img src="http://www.pngmart.com/files/2/Pokeball-PNG-Image.png" class="bg-light" width="50" height="50"></h5>
        <div id="pokemon_count">Total Pokemon:</div>

        <table id="datatable"  class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Pokemon Name</th>
                    <th scope="col">Url</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="table">
            </tbody>
        </table>

    </div>
</div>*@
<section class="section">
    <div class="container">
        <center>
            <img src="https://media.giphy.com/media/13CoXDiaCcCoyk/giphy.gif" class="bg-light" width="200" height="200">
            <form class="mt-3" id="catForm" novalidate>
                <button type"submit" class="btn btn-lg rounded rounded-pill btn-outline-primary">
                    Next <i class="fa-arrow-right"></i>
                </button>
            </form>
            <h1 id="fact">
            </h1>
        </center>
    </div>
</section>


<script>
    $(document).ready(function () {
        let url = "https://catfact.ninja/fact"
        console.log("Ok Ready")
        fetchData(url);
        $("#catForm").on("submit", function (e) {
            e.preventDefault();
            fetchData(url);
        })


        function fetchData(url = 'https://catfact.ninja/fact') {
            axios.get(url)
                .then(function (response) {
                    // handle success
                    console.log(response.data);
                    displayCatFact(response.data.fact);
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                    displayCatFact(error)
                })
                .then(function () {
                    // always executed
                });
        }

        function displayCatFact(fact) {
            var typed = new Typed('#fact', {
                strings: ["Fact:...", fact],
                typeSpeed: 20
            });
        }
    })
</script>
@*<script src="~/js/cat.js"></script>*@