@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="pagetitle">
    <h1>Gender Perediction</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Gender Prediction</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="container " id="">
        <div class="card">
            <div class="card-header">
                Gender Perediction
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label label-for="text">Input Name</label>
                                <input type="text" name="name" id="name" class="form-control" />
                            </div>
                            <button type="button" id="submitBtn" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div id="result">

                </div>
            </div>
         </div>
    </div>
</section>



<script src="~/js/gender.js"></script>